<h1>Eat-Da-Burger!</h1>

<h2>Burgers that Need to be DEVOURED!</h2>
{{!-- <ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul> --}}

<h2>Burgers that have been DEVOURED!</h2>

{{!-- <ul> --}}
  {{!-- {{#each burgers}}
    {{#if devoured}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}


<h2>Add a Burger:</h2>
<p>Enter a burger you want to eat Click the "Submit" button</p>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burger-form" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
